img {
    padding: 5px;
    border: 5px solid #808080;
    background-color: #006600;
}
td {
    
}

div {
    margin: 3px;
    padding: 3px;
}

p {
    padding: 5px;
    border: 5px solid #808080;
    background-color: #006600;
    width: 300px;
}